<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div>
            <label for="username">Username</label>
            <input id="username" type="text" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </div>
        {% if error %}
            <div>{{ error }}</div>
        {% endif %}
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>